<% if @beers %>
<div class="pull-right">
<%= paginate @beers %>
</div>
<%end%>

<table class="table table-striped">
  <tr>
    <th>Beer ID</th>
    <th>Beer name</th>
    <th></th>
    <th>Brewery</th>
    <th>Country</th>
  </tr>
 
  <% if @beers %>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= beer.id %></td>
      <td><%= link_to beer.nazwa, beer_path(beer) %></td>
      <td><%= raw(beer.icons) %></td>
      <td><%= link_to beer.brewery_name, brewery_path(beer.brewery_id) %></td>
      <td><img src="/assets/flags/<%= beer.country %>.png" <% unless beer.country == "_" %>title="<%= IsoCountryCodes.find(beer.country).name %>"<% end %> /></td>
    </tr>
  <% end %>
  <%end%>
</table>

<% if @beers %>
<div class="pull-right">
<%= paginate @beers %>
</div>
<%end%>