<% if @beers %>
<%= paginate @beers %>
<%end%>

<table class="table table-striped">
  <tr>
    <th>Beer ID</th>
    <th>Beer name</th>
    <th>Brewery</th>
    <th>Country</th>
    <th>Barcode</th>
  </tr>
 
  <% if @beers %>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= beer.id %></td>
      <td><%= link_to raw( beer.nazwa.sub params[:term], "<strong>"+params[:term]+"</strong>") , beer_path(beer) %> <%= raw(beer.icons) %></td>
      <td><%= link_to beer.brewery_name, brewery_path(Brewery.find(beer.brewery_id)) %></td>
      <td><img src="/assets/flags/<%= beer.country %>.png" /></td>
      <td><%= raw(beer.barcode.sub params[:term], "<strong>"+params[:term]+"</strong>") %></td>
    </tr>
  <% end %>
  <%end%>
</table>

<% if @beers %>
<%= paginate @beers %>
<%end%>