<% if @beer.errors.any? %>
    <% @beer.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>


<% if @new_beer %>
<div class="alert alert-success" role="alert"><strong>Success!</strong> <em><%= @new_beer.nazwa %></em> added as beer #<%= @new_beer.id %>!</div>
<% end %>

<% unless @new_brewery.empty? %>
<div class="alert alert-success" role="alert"><strong>Success!</strong> Brewery <em><%= @new_brewery %></em> added!</div>
<% end %>


<div class="page-header">
	<h1>Add a new beer <small><%= link_to 'or go back', beers_path %></small></h1>
</div>

<%= render 'form' %>