<h1>Nowe piwo</h1>

<% if @beer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@beer.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<%= form_for :beer, url: beers_path do |f| %>
	<div class="form-group">
	<%= f.label :nazwa %> <%= f.text_field :nazwa, :class => "form-control" %>
	</div>

	<p>
	<%= f.label :browar %><br/>
	<%= f.text_field :browar, :class => "form-control" %>
	</p>

	<p>
	<%= f.label :foto %><br/>
	<%= f.text_field :foto, :class => "form-control" %>
	</p>

	<p>
	<%= f.label :kraj %><br/>
	<%= f.text_field :kraj, :class => "form-control" %>
	</p>

	<p>
	<%= f.label :komentarz %><br/>
	<%= f.text_area :komentarz %>
	</p>

	<p>
    <%= f.submit 'Wyślij', :class => "btn btn-default" %>
  </p>
<% end %>