<div class="media">

<div class="pull-right">
  <% if not @beer.local_image.url.nil? %>
  <%= link_to image_tag(@beer.local_image_url(:thumb), :class => "media-object beer-image"), @beer.local_image.url, :data => {:lightbox => "image"} %>
  <% elsif not @beer.foto.length < 1 %>
  <%= link_to image_tag(@beer.foto, :class => "media-object beer-image"), @beer.foto, :data => {:lightbox => "image"} %>
  <% else %>
	<img class="media-object beer-image" src="http://placehold.it/250x350&text=No+photo" />  
  <% end %>
</div>

<div class="page-header">
	<h1><%= @beer.nazwa %></h1>

	<h3 class="pull-right">
		<%= link_to "Edit", edit_beer_path(@beer), :class => "btn btn-primary" %>
		<%= link_to 'Delete', beer_path(@beer),
                    method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
	</h3>

</div>


<h2>Beer info:</h2>
<p>
  <strong>Brewery:</strong>
  <%= link_to @beer.brewery_name, brewery_path(Brewery.find(@beer.brewery_id)) %>
</p>
<p>
<strong>Country: </strong>
<% if @beer.country == "_" or @beer.country.empty? %>
  <img style="vertical-align: baseline" src="/assets/flags/_.png" /> <em>Unavailable</em>
<% else %>
  <img style="vertical-align: baseline" src="/assets/flags/<%= @beer.country %>.png" /> <%= IsoCountryCodes.find(@beer.country).name %> 
<%end>%>
</p>
<p>
<strong>Barcode: </strong> <em><%= @beer.barcode %></em>
<p>
  <strong>Comment:</strong> <%= raw(@beer.icons) %><br/>
  <% if @beer.komentarz.empty? %>
  	<em>Sorry! No comment found.</em>
  <% else %>
  <%= @beer.komentarz %>
  <% end %>
</p>
</div>